<script src="https://code.jquery.com/jquery-latest.min.js"></script>

<!-- Need to save this script in app/assets later.
For now in Codecademy, the browser has to have unsafe JS on.
-->
<script src="http://unslider.com/unslider.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.banner').unslider({
      fluid: true  // Responsible Design: true
    });
});
</script>

<div class="main portfolio">
  <div class="jumbotron">
    <div class="banner">
      <ul>
        <li class="first-slide"></li>
        <li class="second-slide"></li>
        <li class="third-slide"></li>
      </ul>
  	</div>
  </div>
  
  <div class="container">
    
    <div class="row">

      <!-- Need to change the images by <img>s + CSS. Codecademy doesn't work with them. -->
      <a class="col-md-6 project" href="#">
        <div class="thumbnail">
          <div class="thumbnail-header">
            <div class="thumbnail-header-btn"></div>
            <div class="thumbnail-header-btn"></div>
            <div class="thumbnail-header-btn"></div>
          </div>
          <div class="thumbnail-image image-project-1"></div>
          <div class="thumbnail-content">
       	    <h3>TravelGo's Booking App</h3>
            <p>NGO liberal change-makers global time of extraordinaire change, prevention climate change mobilize shift. Communities, social...</p>
          </div>
        </div>
      </a>
 
     	<a class="col-md-6 project" href="#">
        <div class="thumbnail">
          <div class="thumbnail-header">
            <div class="thumbnail-header-btn"></div>
            <div class="thumbnail-header-btn"></div>
            <div class="thumbnail-header-btn"></div>
          </div>
          <div class="thumbnail-image image-project-2"></div>
          <div class="thumbnail-content">
       	    <h3>Breather’s Reservation Site</h3>
            <p>Pursue these aspirations free-speech healthcare sharing economy freedom. Beneficiaries gender rights raise awareness change movements provide. Eradicate, diversification inspire breakthroughs, incubation; solve Peace Corps. Innovate.</p>
          </div>
        </div>
      </a>

    </div>
 
   
    <div class="row">

      <!-- Need to change the images by <img>s + CSS. Codecademy doesn't work with them. -->
      <a class="col-md-6 project" href="#">
        <div class="thumbnail">
          <div class="thumbnail-header">
            <div class="thumbnail-header-btn"></div>
            <div class="thumbnail-header-btn"></div>
            <div class="thumbnail-header-btn"></div>
          </div>
          <div class="thumbnail-image image-project-3"></div>
          <div class="thumbnail-content">
       	    <h3>EnVogue Events’ Portfolio</h3>
            <p>Informal economies; underprivileged, grantees transformative prosperity. Education best practices connect achieve plumpy'nut. Action Against Hunger; save the world, combat HIV/AIDS crowdsourcing eradicate inclusive facilitate collaborative.</p>
          </div>
        </div>
      </a>
 
     	<a class="col-md-6 project" href="#">
        <div class="thumbnail">
          <div class="thumbnail-header">
            <div class="thumbnail-header-btn"></div>
            <div class="thumbnail-header-btn"></div>
            <div class="thumbnail-header-btn"></div>
          </div>
          <div class="thumbnail-image image-project-4"></div>
          <div class="thumbnail-content">
       	    <h3>Gauntlet Gallery</h3>
            <p>Small-scale farmers; collaborative cities Bill and Melinda Gates best practices equity health theory of social change human experience. Tackle rural development relief worldwide respect, economic.</p>
          </div>
        </div>
      </a>

    </div>
 
   
    <div class="row">

      <!-- Need to change the images by <img>s + CSS. Codecademy doesn't work with them. -->
      <a class="col-md-6 project" href="#">
        <div class="thumbnail">
          <div class="thumbnail-header">
            <div class="thumbnail-header-btn"></div>
            <div class="thumbnail-header-btn"></div>
            <div class="thumbnail-header-btn"></div>
          </div>
          <div class="thumbnail-image image-project-5"></div>
          <div class="thumbnail-content">
       	    <h3>Koi Pond Online Visitors Guide</h3>
            <p>UNICEF, research Ford Foundation outcomes collaborative consumption turmoil change lives. Tackling, dignity, world problem solving small-scale farmers complexity rural. Emergent humanitarian, necessities effect, challenges of.</p>
          </div>
        </div>
      </a>
 
     	<a class="col-md-6 project" href="#">
        <div class="thumbnail">
          <div class="thumbnail-header">
            <div class="thumbnail-header-btn"></div>
            <div class="thumbnail-header-btn"></div>
            <div class="thumbnail-header-btn"></div>
          </div>
          <div class="thumbnail-image image-project-6"></div>
          <div class="thumbnail-content">
       	    <h3>Academy of Sciences  Newsletter</h3>
            <p>Aid collaborative global network overcome injustice honesty measures. Environmental, social impact carbon rights combat HIV/AIDS transform the world social innovation local effect. Free expression committed.</p>
          </div>
        </div>
      </a>

    </div>
 
  </div>
</div>