// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Global
// Variables
$break-large: 900px;

$font-family: Roboto;
$font-size: 18px;
$font-weight: 500;


* {
  margin: 0;
  padding: 0;
}

body {
    font-family: $font-family;
    font-weight: 300;
}


.container {
    width: 100%;
    margin: 0;
    
    padding: 0 200px 0 280px;

    @media screen and (max-width: $break-large) {
      padding: 0 20px 0 100px;
    }
}


ul {
  li {
    display: inline;
  }
}

a {
  color:black;
}

// Header

.menu {
  li {
    display: inline;
    margin-right: 10px;
    line-height: 100px;
  }
  
  a {
    color: black;
		font-size: $font-size;
    font-weight: $font-weight;
  }
}

.name {
  h1 {
    line-height: 100px;
    margin: 0;
    text-align: right;
    color: black;
		font-size: $font-size;
    font-weight: $font-weight;
  }
}

// Main
.main {
	.container {
 	  margin: 80px 0;
  }
}

// Home
.home {
  .jumbotron {
    background-image: url("http://www.wallackmanagement.com/SlideImg/show6.jpg");
    background-position: center center;
    background-size: cover;
  }
    
	.container {
    text-align: right;
  }
  
  h2 {
    color: white;
    font-size: 48px;
    text-align: right;
    line-height: 56px;
  }
  
  .highlight {
    color: black;
    background-color: #eaeff4;
    padding: 0 10px 0;
  }
  
  .btn {
    margin: 40px 0;
    padding: 0;
    width: 200px;
    height: 60px;
    line-height: 60px;
    background-color: rgba(0,0,0,0.9);
    border-radius: 0;
    transition: background-color .5s;
    
    color: white;
    font-size: $font-size;
    font-weight: 100;
  }
  .btn:hover {
    background-color: #cc6cff;
  }
}

.portfolio {
  .jumbotron {
    padding: 0;
  }
}

// Unslide default CSS
.banner { position: relative; overflow: auto; }
    .banner { li { list-style: none; } }
        .banner { ul { li { float: left; } } }
        
.banner {
  ul {
    padding: 0;
    margin: 0;
    
    li {
			height: 500px;
      width: 100%;
      
      background-position: center;
		  background-size: cover;
    }
  }
}

.first-slide {
  background-image: url("http://www.wallackmanagement.com/SlideImg/show6.jpg");
}

.second-slide {
  background-image: url("https://i.imgur.com/Wiy528i.jpg");
}

.third-slide {
  background-image: url("https://i.imgur.com/4PC1oo9.jpg");
}


.project {
  transition: color .3s;
  padding: 0 20px;
  text-decoration: none;
}
.project:hover {
  color: #cc6cff;
  text-decoration: none;
}

.thumbnail-header {
  background-color: #eaeff4;
  
  height: 20px;
  width: 100%;
  
  .thumbnail-header-btn {
    float: left;
    border-radius: 100%;
    background: white;
    height: 10px;
    width: 10px;
    margin: 5px 0 0 5px;
  }
}

.thumbnail {
  border: 0;
}
.thumbnail-image {
  height: 200px;
  
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
}

.image-project-1 {
	background-image: url("https://i.imgur.com/MBCZh43.jpg");
}

.image-project-2 {
	background-image: url("https://i.imgur.com/lYnhkXk.jpg");
}

.image-project-3 {
	background-image: url("https://i.imgur.com/h07kzKQ.jpg");
}

.image-project-4 {
	background-image: url("https://i.imgur.com/dRg9CmC.jpg?1");
}

.image-project-5 {
	background-image: url("https://drscdn.500px.org/photo/120406205/w%3D280_h%3D280/61811aab08ecd91a6416face03f23169?v=1");
}

.image-project-6 {
	background-image: url("https://drscdn.500px.org/photo/63788569/h%3D300/b6c65fb53f02b263d14f6094680d4f61");
}

// Footer
.footer {
    text-align: right;
    height: 200px;
    
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 300;
    
    p {
      font-size: 14px;
      font-weight: 300;
    }
}

.social-media {
  line-height: 30px;
  margin: 65 0 20;
  
  li {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 0 0 10px;
    text-indent: -9999px;
    text-align: left;
  }
  
  a {
    display: block;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .github {
    background-image: url("https://portfolio-rails-2633.herokuapp.com/assets/github-edc899c60c7b3afd0c458e648197f578.svg");
  }

  .linkedin {
    background-image: url("https://portfolio-rails-2633.herokuapp.com/assets/linkedin-be22eb82414f9f637debbe2d64c301cb.svg");
  }
  
  .twitter {
    background-image: url("https://portfolio-rails-2633.herokuapp.com/assets/twitter-8c095eaee58362a46d56e3f07b50b23b.svg");
  }
  
}